.banner-img {
    max-height: 200px;
    max-width: 100vh;
}

@media (min-width: 1200px) {
    .banner-img {
        max-height: 300px;
        /* max-width: 100vh; */
    }
}

@media (max-width: 768px) {
    .banner-img {
        max-height: 100px;
        /* max-width: 100vh; */
    }
}